{% extends 'base.html.twig' %}


{% block body%}

    <div class="container marketing my-3" >

        <div class="row text-white">
            <div class="col-lg-4 mx-auto">
                <img src="{{ asset ('uploads/images/valentin.jpg') }}" class="bd-placeholder-img rounded" width="300" height="300"  style="object-fit: cover"  focusable="false">
                <h2 class="mt-2">Valentin RONDOT</h2>
                <p>Valentin Rondot, le cœur battant de la Ferme de la Fougère, incarne une passion inégalée pour une agriculture respectueuse de l'environnement. En tant que responsable dévoué, il fusionne savoir-faire traditionnel et innovation pour cultiver des produits biologiques d'une qualité exceptionnelle, nourrissant corps et esprits avec amour et dévotion.</p>
            </div>
        </div><!-- /.row -->
        <div class="row text-white">
            <div class="col-lg-4 mx-auto">
                <img src="{{ asset ('uploads/images/dommarien.jpg') }}" class="bd-placeholder-img rounded" width="250" height="250"  style="object-fit: cover"  focusable="false">
                <h2 class="mt-2">DOMMARIEN</h2>
                <p>Dommarien, joyau rural de la Haute-Marne, abrite la Ferme de la Fougère, emblème de son héritage agricole. Ce village pittoresque, bercé par des paysages verdoyants et une atmosphère paisible, incarne l'authenticité française. Au cœur de cette communauté chaleureuse, la ferme rayonne, offrant des produits bio d'une qualité inégalée.</p>
            </div>
        </div>
        <div class="row text-white">
            <div class="col-lg-4 mx-auto ">
                <img src="{{ asset ('uploads/images/ferme.jpg') }}" class="bd-placeholder-img rounded" width="250" height="250"  style="object-fit: cover"  focusable="false">
                <h2 class="mt-2">La ferme de la fougère</h2>
                <p class="mb-5">La Ferme de la Fougère, nichée dans les paisibles terres de la commune de Dommarien en Haute-Marne, incarne l'essence même de l'agriculture biologique. Du sol fertile à la récolte soignée, chaque étape est méticuleusement orchestrée dans le respect de la nature. Plongez dans un univers où la fraîcheur et la saveur se rencontrent harmonieusement, offrant des produits d'exception directement de notre terre à votre table. Bienvenue à la Ferme de la Fougère, où la passion pour le bio prend racine et s'épanouit.</p>
            </div>
        </div>


{% endblock %}