{% extends 'base.html.twig' %}

{% block body %}
    <main role="main">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner  mx-auto ">
                <div class="carousel-item active " style="height: 80vh;">
                    <div class="container">
                        <div class="carousel-caption p-4 rounded-5 " style="background-color: #0D5127; max-width: fit-content">
                            <div>
                                <h1>La Ferme de la fougère</h1>
                                <p>Ferme maraîchère biologique - DOMMARIEN</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}