{% extends '../base.html.twig' %}



{% block body %}
    <div class="container my-5">
        <h1>Espace membre</h1>
        <br/>
        <h5> Modification de mon mot de passe</h5>

    </div>
    <div class="container my-5">
        <div class="row align-items-center">
            <div class="col-md-3">{% include  '../menu.html.twig'%}</div>
            <div class="col-md-9">
                <h5 class="d-flex justify-content-center"> Modification de mon mot de passe</h5>
                <br/>
                {{ form(modifyMdp) }}
            </div>
        </div>


    </div>
{% endblock %}
